<<<<<<< HEAD
.us-notification {
	padding: 10px;
	border-radius: 10px;
}

.li-height {
	min-height: 100px;
	margin: 10px 0;
=======
.us-notification {
	padding: 10px;
	border-radius: 10px;
}

.li-height {
	min-height: 100px;
	margin: 10px 0;
>>>>>>> e5cc454edf8ece10371a8aa2c2142769c5584654
}